.formContainer {
  max-width: 400px;
  margin: 11rem auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.formLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.formInput {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.submitButton {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmationMessage {
  margin-bottom: 16px;
}

.confirmationMessage p {
  margin: 0;
}
