.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  .sliderArrow {
    width: 50px;
    height: 100%;
    background-color: rgba(255, 234, 0, 0.5);
    color: #f6f6f6;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    &.left {
      top: 0;
    }
    &.right {
      top: 0;
    }
  }
}

.container {
  /* Adjust the alignment to start  */

  margin-top: 10px;
  transform: translateX(0px);
  transition: all 5s ease-in;
  --moz-fit-content: fit-content; /* Adjust the width to fit the content */
  gap: 20px;
}
