/* CSS styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .app-bar {
    background: #121212;
    color: #f0f0f0;
    min-height: 56px;
    padding: 0 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app-bar__logo,
  .app-bar__menu,
  .app-bar__search-field,
  .app-bar__imdb-pro,
  .app-bar__watchlist,
  .app-bar__sign-in,
  .app-bar__user {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
  }

  .app-bar__menu-icon {
    margin-right: 8px;
  }

  .search-field {
    background: #FFFFFF;
    height: 30px;
    width: 55%;
    border-radius: 5px;
  }

  .logo {
    width: 100px;
  }

  /* Menu styles */
  .header-menu {
    position: absolute;
    top: 56px;
    left: 225px;
    background: #121212;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    padding: 8px 16px;
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: #f0f0f0;
    color: #121212;
  }

  .menu-item a {
    text-decoration: none;
    color: #f0f0f0;
    display: block;
  }
  
  .menu-item a:hover {
    color: #121212;
  }
  