/* headerStyle.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #14131A;
  color: #fff;
}

.app-bar {
  background-color: #14131A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.app-bar__logo,
.app-bar__menu,
.app-bar__watchlist,
.app-bar__sign-in,
.app-bar__language {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 20px; /* Increased padding */
}

.app-bar__menu-icon {
  margin-right: 5px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
}

.header-menu {
  position: absolute;
  top: 56px;
  left: 0; /* Changed from 185px */
  background: #121212;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 200px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #2c2a33;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: color 0.3s ease;
  font-size: 16px;
}

.menu-item a:hover {
  color: #d3d3d3;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #d3d3d3;
}

.app-bar__language {
  cursor: pointer;
}

.relative {
  position: relative;
}

.search-results-dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 999;
  background-color: #14131A;
  border: 1px solid #2c2a33;
  border-top: none;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  color: #fff;
}

.search-result-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-result-item:hover {
  background-color: #2c2a33;
}

.search-result-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 8px;
}

.logout-container {
  display: flex;
  align-items: center;
}

.logout-container button,
.logout-container a {
  margin-left: 10px; /* Added margin between logout button and profile link */
}