/* .search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  
  .search-result-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .search-result-item:hover {
    background-color: #f5f5f5;
  }
  
  .search-result-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 8px;
  } */


  .search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
  }
  
  .search-result-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .search-result-item:hover {
    background-color: #f5f5f5;
  }
  
  .search-result-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 8px;
  }



  .search-results-dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 999;
    background-color: #333;
    border: 1px solid #555;
    border-top: none;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    color: #fff;
  }
  
  .search-result-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-result-item:hover {
    background-color: #555;
  }
  
  .search-result-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 8px;
  }