/* body {

} */
main {
  margin: 20px;
}
.section-one {
  width: 100%;
  padding: 0 10px;
}

.setting,
.quicklinks,
.RatingAnalysse,
.Share {
  width: 100%;
}
.Credentials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Credentials,
.Recommended,
.Reviews,
.watchlist,
.rating,
.RecentlyView {
  padding: 20px;
  margin: 12px;
  border: 1px white solid;
  border-radius: 5px;
  box-shadow: ;
}

.app-user-link {
  margin-left: 5px;
}

ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  padding: 10px 0px;
  width: 100%;
}
a {
  text-decoration: none;

  font-size: 18px;
}

.movie_card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(245, 207, 18, 0.8)
  );
}
